---
import Layout from '../layouts/Layout.astro';
import Cards from '../components/Cards';
import { Icon } from '@iconify/react/dist/iconify.js';
---

<Layout title="Misiones Secundarias 👾">
	<div class="w-full flex justify-center mx-auto text-white text-lg sm:text-2xl">
		<main class="flex flex-col justify-center w-full sm:w-[600px] md:w-[700px] lg:w-[800px] mx-auto">
			<h1 class="text-center"> <span class="text-gradient text-4xl sm:text-5xl md:text-7xl">¡SIDEQUESTS!</span></h1>
			<div class="instructions mt-6">
				<p class="text-gradient-2 font-bold text-2xl sm:text-3xl md:text-5xl text-center">
					Gestión de puntos 🕹️
				</p>
			</div>
			<Cards client:visible/>
		</main>
	</div>
</Layout>

<style>

	@media (max-width: 425px) {
		main{
			width: 100%;
		}
		li{
			width: 100% !important;
		}
	}
	.text-gradient-2{
		background: linear-gradient(to right, #8d27c9, #fa992b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
	  text-shadow: 2px 5px 4px rgba(250, 128, 114, 0.233);
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
